@model billsapp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>
                <h2 class="panel-title">Change Account Settings</h2>
            </header>
            <div class="panel-body">
                <section id="account-management">
                    @using (Html.BeginForm("ChangeThemeColor", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <p class="text-success">@ViewBag.StatusMessage</p>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Password</label>
                            <div class="col-md-10" style="padding-top:7px;">
                                [
                                @if (Model.HasPassword) {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="ThemeColor">Theme&nbsp;Color</label>
                            <div class="col-md-10">
                                <div class="input-group color" data-plugin-colorpicker data-format="hex">
                                    <span class="input-group-addon"><i></i></span>
                                    <input id="ThemeColor" name="ThemeColor" type="text" class="form-control" value="@Model.ThemeColor" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button id="apply-theme-color-btn" type="submit" class="btn btn-primary has-spinner">
                                    <span class="spinner">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span> Apply
                                </button>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </section>
    </div>
</div>
