@model billsapp.Models.payer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>payer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.payer_firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payer_firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payer_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payer_lastname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.payer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
