@model billsapp.Models.BillTypesViewModel

@{
    ViewBag.Title = "Setup Wizard";
}

<div class="row">
    <div class="col-xs-12">
        <section class="panel form-wizard" id="w4">
            <header class="panel-heading">
                <div class="panel-actions">
                    @*<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>*@
                </div>

                <h2 class="panel-title">Enter Payment Methods</h2>
            </header>
            <div class="panel-body">
                <div class="wizard-progress wizard-progress-lg">
                    <div class="steps-progress">
                        <div class="progress-indicator"></div>
                    </div>
                    <ul class="wizard-steps">
                        <li class="active">
                            <a href="#w1-payment-methods" data-toggle="tab"><span>1</span>Payment<br />Methods</a>
                        </li>
                        <li>
                            <a href="#w2-bill-templates" data-toggle="tab"><span>2</span>Bill<br />Templates</a>
                        </li>
                        <li>
                            <a href="#w3-sharing-permissions" data-toggle="tab"><span>3</span>Sharing &<br />Permissions</a>
                        </li>
                        <li>
                            <a href="#w4-session-setup" data-toggle="tab"><span>4</span>Session <br />Setup</a>
                        </li>
                    </ul>
                </div>

                <div id="setup-wizard-tab-content" class="tab-content">

                    <!-- Start Step 1 -->
                    <div id="w1-payment-methods" class="tab-pane active">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>To get started, enter the types of accounts you use to pay your bills. <strong>Do not include account numbers.</strong></p>
                                <div class="mb-md">
                                    @*<div class="alert alert-info" style="text-align:center;">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        To get started, enter the types of accounts you use to pay your bills. <strong>Do not include account numbers.</strong>
                                    </div>*@
                                    <button id="w1-addToTable" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped mb-none" id="w1-datatable-editable">
                                    <thead>
                                        <tr>
                                            <th>Payment Method Name</th>
                                            <th>Abbreviation</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeX">
                                            <td>Ex: First Convenience Bank Checking</td>
                                            <td>Ex: FCBC</td>
                                            <td>@Html.EnumDropDownListFor(m => m.status, new { @class = "form-control" })</td>
                                            <td class="actions">
                                                <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                                <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End Step 1 -->

                    <!-- Start Step 2 -->
                    <div id="w2-bill-templates" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-12">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal form-bordered", role = "form" })) {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.typeName, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.typeName, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.url, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.url, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.amountDue, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.amountDue, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.frequency, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.EnumDropDownListFor(m => m.frequency, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.dateDue, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.dateDue, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.paymentMethod, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.paymentMethod, Model.paymentMethods, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.auto, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.CheckBoxFor(m => m.auto, new { @checked = "checked", @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.task, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.CheckBoxFor(m => m.task, new { @checked = "checked", @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.notes, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(m => m.notes, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.notes, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(m => m.notes, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.billTypes, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.ListBoxFor(m => m.billTypes, Model.billTypes, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-primary" value="Register" />
                                        </div>
                                    </div>*@
                                    <div class="mb-md">
                                        <button id="addBillType" class="btn btn-primary">New <i class="fa fa-plus"></i></button>
                                        <button id="deleteBillType" class="btn btn-primary">Delete </button>
                                        <button id="deleteBillType" class="btn btn-primary">Save </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- End Step 2 -->

                    <!-- Start Step 3 -->
                    <div id="w3-sharing-permissions" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-12">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal form-bordered", role = "form" })) {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.shareTargetEmail, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.shareTargetEmail, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="mb-md">
                                        <button id="addToTable" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
                                    </div>

                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Permission</th>
                                            <th>Permission Level</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeX">
                                            <td>email@sharetarget.bla</td>
                                            <td>@Html.EnumDropDownListFor(m => m.permission, new { @class = "form-control" })</td>
                                            <td>@Html.EnumDropDownListFor(m => m.permissionLevel, new { @class = "form-control" })</td>
                                            <td class="actions">
                                                <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                                <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End Step 3 -->

                    <!-- Start Step 4 -->
                    <div id="w4-session-setup" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-12">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal form-bordered", role = "form" })) {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <p>What is the current balance of the account you use to pay bills?</p>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.startingBalance, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.startingBalance, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <h6 style="text-align:center;">Reticulating splines...</h6>

                                    <div class="progress progress-striped progress-xs m-md light" style="width:80%; margin: 0 auto !important;">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            <span class="sr-only">60%</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- End Step 4 -->

                </div>
            </div>
            <div class="panel-footer">
                <ul class="pager">
                    <li class="previous disabled">
                        <a><i class="fa fa-angle-left"></i> Previous</a>
                    </li>
                    <li class="finish hidden pull-right">
                        <a>Finish</a>
                    </li>
                    <li class="next">
                        <a>Next <i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryvaljs")
}