@model billsapp.Models.BillTypesViewModel

@{
    ViewBag.Title = "Setup Wizard";
}

<div class="row">
    <div class="col-xs-12">
        <section class="panel form-wizard" id="w4">
            <header class="panel-heading">
                <div class="panel-actions">
                    @*<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>*@
                </div>

                <h2 class="panel-title">Enter Payment Methods</h2>
            </header>
            <div class="panel-body">
                <div class="wizard-progress wizard-progress-lg">
                    <div class="steps-progress">
                        <div class="progress-indicator"></div>
                    </div>
                    <ul class="wizard-steps">
                        <li class="active">
                            <a href="#w4-account" data-toggle="tab"><span>1</span>Payment<br />Methods</a>
                        </li>
                        <li>
                            <a href="#w4-profile" data-toggle="tab"><span>2</span>Bill<br />Templates</a>
                        </li>
                        <li>
                            <a href="#w4-billing" data-toggle="tab"><span>3</span>Sharing</a>
                        </li>
                        <li>
                            <a href="#w4-confirm" data-toggle="tab"><span>4</span>Confirmation</a>
                        </li>
                    </ul>
                </div>

                <form class="form-horizontal" novalidate="novalidate">
                    <div class="tab-content">

                        <!-- Start Step 1 -->
                        <div id="w4-account" class="tab-pane active">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-md">
                                        @*<div class="well well-sm" style="border:none;">*@
                                        <div class="alert alert-info" style="text-align:center;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            To get started, enter the types of accounts you use to pay your bills. <strong>Do not include account numbers.</strong>
                                        </div>
                                        <button id="addToTable" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                                        <thead>
                                            <tr>
                                                <th>Payment Method Name</th>
                                                <th>Abbreviation</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX">
                                                <td>Ex: First Convenience Bank Checking</td>
                                                <td>Ex: FCBC</td>
                                                <td>Active</td>
                                                <td class="actions">
                                                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End Step 1 -->

                        <!-- Start Step 2 -->
                        <div id="w4-profile" class="tab-pane">
                            <div class="row">
                                <div class="col-sm-12">
                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })

                                        <div class="form-group">
                                            @Html.LabelFor(m => m., new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" class="btn btn-primary" value="Register" />
                                            </div>
                                        </div>*@
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- End Step 2 -->

                                <!-- Start Step 3 -->
                                <div id="w4-billing" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="w4-cc">Card Number</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="cc-number" id="w4-cc" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="inputSuccess">Expiration</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="exp-month" required>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="exp-year" required>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                                <option>2019</option>
                                                <option>2020</option>
                                                <option>2021</option>
                                                <option>2022</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Step 3 -->
                                <!-- Start Step 4 -->
                                <div id="w4-confirm" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="w4-email">Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="email" id="w4-email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="checkbox-custom">
                                                <input type="checkbox" name="terms" id="w4-terms" required>
                                                <label for="w4-terms">I agree to the terms of service</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Step 4 -->

                            </div>
</form>
            </div>
            <div class="panel-footer">
                <ul class="pager">
                    <li class="previous disabled">
                        <a><i class="fa fa-angle-left"></i> Previous</a>
                    </li>
                    <li class="finish hidden pull-right">
                        <a>Finish</a>
                    </li>
                    <li class="next">
                        <a>Next <i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryvaljs")
}