@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>BillsApp</h1>
            <p class="lead">A simple C# / ASP.NET MVC web application to help record data and share costs when paying the bills.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Start demo &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row" style=@(Request.IsAuthenticated ? "display:none;" : "display:block;")>
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
                <h2 class="panel-title">Project Activity Feed</h2>
            </header>
            <div class="panel-body">
                <div class="scrollable" data-plugin-scrollable style="height: 350px;">
                    <div class="scrollable-content">
                        <div id="feed"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@if (Request.IsAuthenticated && User.IsInRole("Admin")) {
    <div class="row">
        <p>Displayed for debugging/testing, only if authenticated and admin...</p>
        <ul>
            <li><a href="~/ThemeDemo/index.html">Theme Examples</a></li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Actual bills", "Index", "Bills")</li>
            <li>@Html.ActionLink("List of bill template types", "Index", "BillTypes")</li>
            <li>@Html.ActionLink("Payers currently in the system", "Index", "Payers")</li>
            <li>@Html.ActionLink("List of payment methods and abbreviations", "Index", "PaymentMethods")</li>
            <li>@Html.ActionLink("Completed payments and amounts", "Index", "Payments")</li>
            <li>@Html.ActionLink("Deposits made during bill pay sessions", "Index", "SessionDeposits")</li>
            <li>@Html.ActionLink("Bill pay session details", "Index", "SessionDetails")</li>
            <li>@Html.ActionLink("Bill payer session details", "Index", "SessionPayerDetails")</li>
            <li>@Html.ActionLink("Users and Payers", "Index", "Manage")</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            </li>
        </ul>
    </div>
}