@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BillsApp</h1>
    <p class="lead">A simple C# / ASP.NET MVC web application to help record data and share costs when paying the bills.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Start demo &raquo;</a></p>
</div>

<div id="feed" style=@(Request.IsAuthenticated ? "display:none;" : "display:block;")></div>

@if (Request.IsAuthenticated && User.IsInRole("Admin")) {
    <div>
        <p>Displayed for debugging/testing, only if authenticated and admin...</p>
        <ul>
            <li><a href="~/ThemeDemo/index.html">Theme Examples</a></li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Actual bills", "Index", "Bills")</li>
            <li>@Html.ActionLink("List of bill template types", "Index", "BillTypes")</li>
            <li>@Html.ActionLink("Payers currently in the system", "Index", "Payers")</li>
            <li>@Html.ActionLink("List of payment methods and abbreviations", "Index", "PaymentMethods")</li>
            <li>@Html.ActionLink("Completed payments and amounts", "Index", "Payments")</li>
            <li>@Html.ActionLink("Deposits made during bill pay sessions", "Index", "SessionDeposits")</li>
            <li>@Html.ActionLink("Bill pay session details", "Index", "SessionDetails")</li>
            <li>@Html.ActionLink("Bill payer session details", "Index", "SessionPayerDetails")</li>
            <li>@Html.ActionLink("Users and Payers", "Index", "Manage")</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            </li>
        </ul>
    </div>
}

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@