@model IEnumerable<billsapp.Models.bill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount_due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_type.type_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount_due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_type.type_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bill_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.bill_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bill_id })
        </td>
    </tr>
}

</table>
